{% extends "truthtaste/base.html" %}
{% load static %}
{% block page-title %}Sign up page{% endblock %}

{% block extra-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign-up-or-log-in.css' %}"/>
{% endblock %}

{% block main-content %}
    <!-- Sign Up Page Content -->
    <div class="sign-up-page">
        <!-- Search Section -->
{#        <section class="search-wrapper">#}
{#            <form method="POST">#}
{#                {% csrf_token %}#}
{#                <h1 class="search-desc">Create a New Account</h1>#}
{#                <label class="review-section-label">User Name</label>#}
{#                <input class="input-box" placeholder="Your user name" type="text" name="username"/>#}
{#                <label class="review-section-label">Password</label>#}
{#                <input class="input-box" placeholder="At least 8 characters" type="password" name="password"/>#}
{#                <button class="cta-btn">Register</button>#}
{#            </form>#}
{#            <p class="log-in-info">Already a member? <a href="{% url 'truthtaste:log-in-page' %}">Log In</a></p>#}
{#        </section>#}
    </div>

{% endblock %}