.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.welcome-text {
    text-align: center;
    padding: 6%;
}

.search-wrapper {
    width: 80%;
    margin: 0 auto 100px;
    background: var(--tertiary-background-color);
    border: 1px solid var(--border-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.search-desc {
    padding: 1em;
    color: var(--secondary-text-color);
}

.homepage-search-bar-section {
    width: 90%;
    flex-grow: 1;
}

.homepage-search-box {
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

.homepage-search-bar-section form {
    height: 50px;
    border-radius: 10px;
}

.homepage-search-bar-section input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 16px;
}

.auth-button {
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    background-color: var(--tertiary-background-color);
    padding: 1em 1em 2em 1em;
}

.auth-button {
    background-color: rgb(235, 235, 235);
}

.cta-btn,
.cta-btn:link,
.cta-btn:visited {
    display: block;
    margin: 20px auto 15px;
    height: 45px;
    border: none;
    padding: 12px 16px;
    background-color: var(--primary-button-color);
    color: white;
    cursor: pointer;
}

.cta-btn:hover,
.cta-btn:active {
    background-color: var(--primary-button-hover-color);
    text-decoration: none;
}
